
<div class="navbar-fixed">
  
    <nav>
    <div class="container-fluid">
      <div class="nav-wrapper">
          <div class="row">
              <div class="col m4">
                <a href="#" class="brand-logo"><img src="/src/assets/image/Converted-PNG.png" alt="nav-logo" class="logo"></a>
              </div>
              <div class="col m4">
                <h3 id="project_title" style="text-align: center">{{dataservice.project_name}}</h3>
             </div>
             <div class="col m4">
                <ul class="right hide-on-med-and-down">
                    <li id="username"> {{dataservice.username}} - {{dataservice.role}} </li>
                    <li><a (click)="logout()" id="logout">LOGOUT</a></li>
                </ul>
            </div>
          </div>
      </div>
    </div>
    </nav>
   
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col s2">
        </div>
        <div class="col s7">
            <div class="main_area">
                <!-- <h2><u>Currently Logged In As {{dataservice.username}} - {{dataservice.role}}</u></h2> -->
                <h3>{{dataservice.message}}</h3>
                <label>
                    <input type="checkbox" id="ourcheck" class="filled-in" [checked]="show_zero" (click)="swapState()">
                    <span >Show Users With No Assigned Tasks</span>
                </label>
                <style>
                    .full-box {
                        display: table-cell;
                        vertical-align: middle;
                        text-align: center;
                        border: 2px solid black;
                        padding: 10px;
                    }
                    .top-box {
                        display: table-cell;
                        font-size: 10pt;
                        vertical-align: middle;
                        text-align: center;
                        border: 1px solid gray;
                        border-top: 2px solid black;
                        padding: 10px;
                    }
                    .reg-box {
                        display: table-cell;
                        font-size: 10pt;
                        vertical-align: middle;
                        text-align: center;
                        border: 1px solid gray;
                        padding: 10px;
                    }
                </style>
                <div class="board-area">
                    <div style="display: table; table-layout: fixed; width: 100%; word-wrap: break-word; border-collapse: collapse; border: 2px solid black;">
                        <div style="display: table-row">
                            <th colspan="6" class="full-box">Available Tasks</th>
                        </div>
                        <div style="display: table-row">
                            <th class="full-box">Created By</th>
                            <th class="full-box">Weekly Goal</th>
                            <th class="full-box">Daily Target</th>
                            <th class="full-box">Verify</th>
                            <th class="full-box">Done</th>
                            <th class="full-box">Remove</th>
                        </div>
                        <ng-container *ngFor="let user of dataservice.users">
                            <div *ngIf="user.scrumgoal_set.length == 0 && show_zero" style="display: table-row;" dragula="mainTable" [attr.id]="'u' + user.id">
                                <td class="full-box" id="author" colspan="6">
                                    {{user.user.nickname}} - NO TASKS ASSIGNED
                                    <div style="display:flex;">
                                        <a mz-button (click)="dataservice.role == 'Owner' ? manageUser($event) : doNothing()" class="btn-floating change-role"><i class="material-icons" id="settings">settings</i></a>
                                        <a mz-button (click)="getClicked($event); basicModal.openModal()" class="btn-floating add-icon"><i class="material-icons" id="add">add</i></a>
                                    </div>
                                </td>
                            </div>
                            <div style="display: table-row" *ngFor="let goal of user.scrumgoal_set; let j = index; let k = count" dragula="mainTable" [attr.id] = "goal.id">
                                <td *ngIf="j == 0" [attr.rowspan]="k" class="full-box" id="author">
                                    {{user.user.nickname}}
                                    <div style="display:flex;">
                                        <a mz-button (click)="dataservice.role == 'Owner' ? manageUser($event) : doNothing()" class="btn-floating change-role"><i class="material-icons" id="settings">settings</i></a>
                                        <a mz-button (click)="getClicked($event); basicModal.openModal()" class="btn-floating add-icon"><i class="material-icons" id="add">add</i></a>
                                    </div>
                                </td>
                                <div *ngFor="let arrItem of arrCount" [ngClass]="j == 0 ? 'top-box' : 'reg-box'" [innerText]="goal.status == arrItem ? goal.goal_project_id + ') ' + goal.name : '-'" [attr.id]="goal.status == arrItem ? arrItem : 'blank'" (dblclick)="goal.status == arrItem ? editGoal($event) : doNothing()" style="font-size: 0.8rem"></div>
                                <div [ngClass]="j == 0 ? 'top-box' : 'reg-box'" id="remove">-</div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="col m4">
                <mz-modal #basicModal>
                    <mz-modal-header>
                        <h4>Add A Task</h4>
                    </mz-modal-header>
                    <mz-modal-content>
                        <h6>Click outside this dialog to cancel.</h6>
                        <form (ngSubmit)="addGoal()">
                            <textarea id="goal" [(ngModel)]="dataservice.goal_name" name="goal"></textarea>
                            <br>
                            <input class="modal-close waves-effect btn btn-default" type="submit" value="Add Task">
                        </form>
                    </mz-modal-content>
                </mz-modal>
            </div>
        </div>
        <div class="col s3" style="position: fixed; right: 0px; top: 0 px;">
            <div class="card">
                <h5 style="text-align: center; padding-top: 10px">Group Chat</h5>
                <hr>
                <div style="overflow: auto; height: calc(100vh - 345px); padding-left: 10px; padding-right: 10px" id="chat_div_space">
                    <div *ngFor="let message of messages" style="font-size: 0.85rem">
                        <li [innerText]="message" style="list-style-type: none; padding-top: 5px; padding-bottom: 5px"></li>
                    </div>
                </div>
                <hr>
                <div class="row" style="padding-left: 10px; padding-right: 10px">
                    <div class="input-field col s12">
                        <textarea id="chat_text" class="materialize-textarea" [(ngModel)]="chat_text" (keyup.enter)="sendMessage()" style="font-size: 0.85rem"></textarea>
                        <label for="chat_text">Send a message</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>