

nav {
    background-color: white;
    box-shadow: none;
    border-bottom: 1px;
    
}

.nav-wrapper {
  padding-left: 35px;
  padding-right: 30px;
}

.logo {
  height: 15%;
  width: 15%;
  padding: 10px;
  vertical-align: center;
}

.logo-text {
  position: absolute;
  padding-left: 3px;
  font-weight: 700;
  color: #26a69a;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.7rem;

}

nav ul a:hover {
    background-color: white;
    border-bottom: 4px solid #26a69a;
    }
    

/* nav ul button {
    background-color: white;
    border: none;
    box-shadow: none;
    height: 35px;
    margin-bottom: -25px;
}

nav ul button:hover {
  background-color: white;
  border-bottom: 4px solid #26a69a;
} */

#logout {
  color: black;
} 



body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
}

h2 {
    font-size: 2.0rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

h5 {
    font-size: 1.1rem;
    font-weight: bold;
}

.chat_area {
    
    bottom: 0px;
    right: 0px;
    position: fixed;
}

.chat_space {
    width: 100%;
    
}

.send {
    width: 100%;
}

#username {
    color: black;
    vertical-align: center;
}
#project_title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.74);
    vertical-align: center;
}

.board-area {
    overflow: hidden;
}

.board-area:hover {
    overflow: auto;
}

.add-icon {
    width: 50%!important;
    padding: 0px;
    box-shadow: none;
}

.change-role {
    width: 50%!important;
    padding: 0px;
    box-shadow: none;
}
#edit {
    align-content: center;
}
#add {
    align-content: center;
}